<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Railway_System.Properties.Settings.MersulTrenurilorConnectionString"
            connectionString="Data Source=DESKTOP-L4RVS7G;Initial Catalog=MersulTrenurilor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Railway_System.Properties.Settings.MersulTrenurilorConnectionString1"
            connectionString="Data Source=daniel-work;Initial Catalog=MersulTrenurilor;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>